
<style>
.rowstyle {
	padding-left: 5px;
}
</style>


<div class="left_div" ng-controller="MyFile2Controller">
	<div class="text-center bg-primary" style="font-size: 150%">

		<i class="glyphicon glyphicon-th-large rowstyle"></i> <span><font>修改客戶資料</font></span>
	</div>
	<div class="row rowstyle">
		<label class="col-md-1">客戶編號 : </label>
		<div class="col-md-5">
			<input type="text" class="form-control" ng-model="userNumber"
				ng-change="myFunc()" required />
		</div>
		<label class="col-md-1">客戶名稱 : </label>
		<div class="col-md-5">
			<input type="text" class="form-control" ng-model="userName"
				ng-change="myFunc()" required />
		</div>
	</div>
	<div class="row rowstyle">
		<label class="col-md-1">等級 :</label>
		<div class="col-md-5">

			<select name="singleSelect" ng-model=userLv class="form-control">
				<option value="">-- 請選擇 --</option>
				<option ng-repeat="option in userLevel"
					value="{{option.PARAM_CODE}}">{{option.PARAM_NAME}}</option>
			</select>
		</div>
		<label class="col-md-1">存款 : </label>
		<div class="col-md-5">
			<input type="text" class="form-control" ng-model="userDeposit" />
		</div>
	</div>
	<div class="row rowstyle">
		<label class="col-md-1">入會日期 : </label>
		<div class="col-md-5">
			<input type="date" name="bday" class="form-control"
				ng-model="userDate"> <br>
		</div>

	</div>
	<div class="row btn-group col-md-offset-5">
		<button type="button" class="btn btn-primary" ng-click="edit()">修改</button>
		<button type="button" class="btn btn-primary">清除</button>

	</div>

</div>
