
<style>
.rowstyle {
	padding-left: 5px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
</style>


<div class="form-horizontal panel panel-primary"
	ng-controller="MyFile2Controller">
	<form name="myform" class="form-horizontal">
		<div class="text-center panel-heading bg-primary"
			style="font-size: 150%">

			<i class="glyphicon glyphicon-th-large rowstyle"></i> <span><font>修改客戶資料</font></span>
		</div>
		<div class="panel-body">
			<div class="form-group rowstyle">
				<label class="col-md-1  control-label">客戶編號 : </label>
				<div class="col-md-5">
					<input type="text" class="form-control" ng-model="userNumber2"
						ng-change="myFunc()" ng-required="true" />
				</div>
				<label class="col-md-1  control-label">客戶名稱 : </label>
				<div class="col-md-5">
					<input type="text" class="form-control" ng-model="userName2"
						ng-change="myFunc()" ng-required="true" />
				</div>
			</div>
			<div class="form-group rowstyle">
				<label class="col-md-1 control-label">等級 :</label>
				<div class="col-md-5">
					<select name="singleSelect" ng-model=userLv2 class="form-control">
						<option value="">-- 請選擇 --</option>
						<option ng-repeat="option in userLevel"
							value="{{option.PARAM_CODE}}">{{option.PARAM_NAME}}</option>
					</select>
				</div>
				<label class="col-md-1  control-label">存款 : </label>
				<div class="col-md-5">
					<input type="text" class="form-control" ng-model="userDeposit2" />
				</div>
			</div>
			<div class="form-group rowstyle">
				<label class="col-md-1  control-label">入會日期 : </label>
				<div class="col-md-5 ">
					<input type="date" name="bday" class="form-control"
						ng-model="userDate2"> <br>
				</div>

			</div>
			<hr>
			<div class="form-group rowstyle ">
				<div class="col-sm-offset-5 col-md-5">
					<input type="submit" value="修改" class="btn btn-primary"
						ng-click="myform.$valid &&edit()" />
					<button type="button" class="btn btn-primary" ng-click="reset()">清除</button>
				</div>
			</div>
		</div>
	</form>
</div>
