<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script data-require="ui-bootstrap@*" data-semver="0.10.0"
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="js/main.js"></script>
<script src="js/controller/MyFile1Controller.js"></script>
<script src="js/controller/MyFile2Controller.js"></script>

<head>
<style>
.title_size {
	font-size: 150%
}
</style>
</head>
<body ng-app="myApp">
	<div ng-controller="AppController3" class="panel panel-primary">
		<div class="text-center panel-heading">
			<i class="glyphicon glyphicon-th-large title_size"></i> <span
				class="panel-title title_size"><font>面板置入</font></span>
		</div>
		<div class="container">
			<div>
				<label>查詢面板 : <input type="checkbox"
					ng-model="checkboxModel.value1" ng-click="change()"></label> <label>修改面板
					: <input type="checkbox" ng-model="checkboxModel.value2">
				</label>

			</div>
			<br> <br> <br>

		</div>

		<div ng-show="checkboxModel.value1" class="panel-body">
			<div class="slide-animate" ng-include="'html/myFile1.html'"></div>
		</div>
		<div ng-show="checkboxModel.value2" class="panel-body">
			<div class="slide-animate" ng-include="'html/myFile2.html'"></div>
		</div>
	</div>

</body>
</html>