<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script data-require="ui-bootstrap@*" data-semver="0.10.0"
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="js/main.js"></script>
<script src="js/controller/MyFile1Controller.js"></script>
<script src="js/controller/MyFile2Controller.js"></script>
<script src="js/controller/MyFile3Controller.js"></script>

<head>
<style>
.title_size {
	font-size: 150%
}

.rowstyle {
	padding-left: 5px;
}
</style>
</head>
<body ng-app="myApp" class="panel-group">
	<div ng-controller="AppController3"
		class="form-horizontal panel panel-primary">
		<div class="text-center panel-heading">
			<i class="glyphicon glyphicon-th-large title_size"></i> <span
				class="panel-title title_size"><font>面板置入</font></span>
		</div>
		<div class="form-group rowstyle ">
			<label class="col-md-2 control-label">查詢面板 : <input
				type="checkbox" ng-model="checkboxModel.value1"
				ng-click="queryPanel()"></label> <label
				class="col-md-2 control-label">修改面板 : <input type="checkbox"
				ng-model="checkboxModel.value2" ng-click="editPanel ()">
			</label> <br> <br> <br>
		</div>
		<div ng-if="checkboxModel.value1" class="panel-body">
			<div class="slide-animate" ng-include="'html/myFile1.html'"></div>
		</div>

		<div ng-if="checkboxModel.value2" class="panel-body">
			<div class="slide-animate" ng-include="'html/myFile2.html'"></div>
		</div>

		<div class="panel-body" ng-include="html3"></div>
	</div>
</body>
</html>